
body{
  background: rgb(255, 227, 250);
  overflow: hidden;
  font-family: 'NTR', sans-serif;
  text-transform: uppercase;
  color: rgb(241, 84, 125);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

}

.titlebox{
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  border-style: solid;
  border-color: rgb(255, 0, 245);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1020px;
  height: 200px;
  margin-top: 50px;


}

  .middle {
  text-align: center;
  justify-content: center;
}


.rainbow {
    text-align: center;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #f293d2, #6666ff , #e0a1fa, #9a5ffa, #7ce4ff, #6666ff, #f293d2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
}


a:link {
  width: 250px;
 display: flex;
 justify-content: center;
text-align: center;
font-size: 45px;
line-height: 130%;
background-color: rgba(255, 255, 255, 0.35);
border-style: solid;
border-color: rgb(255, 0, 245);
  text-decoration: none;
  color:#8234da;
}

a:visited {color:#8234da;} /* Visited link    */

a:hover {
  font-size: 70px;
  color: #cc00ff;
  width: 400px;
 display: flex;
 justify-content: center;
  text-decoration: none;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.star{
max-width: 50px;
margin-left: 5px;
margin-right: 100px;
position:absolute;
top:45%;
transform: translateY(-50%);
right:325px;
opacity: 0;
}


.bbox {
 display: flex;
 justify-content: space-between;
 margin-top: 50px;
 margin-bottom: 35px;
text-align: center;
justify-content: center;
}


.box {
 display: flex;
 margin-top: 0px;
  margin-right: 35px;
  margin-left: 35px;
text-align: center;
justify-content: center;
position: relative;
height: 150px;
}
  .container .column.clear,
  .container .columns.clear {
    clear: both;
  }
  .container .column.right,
  .container .columns.right {
    float: right;
  }
  .container .column.no-float,
  .container .columns.no-float {
    display: inline-block;
    vertical-align: top;
    float: none;
    zoom: 1;
  }

.box:hover .star{
  opacity: 1;
  animation: rotation 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 0px;
   margin-right: 35px;
   margin-left: 35px;


}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  margin-top: -100px;
  margin-left: -50px;
  display: block;
  animation: fadein 1s;
  user-select: none;
}


.container {
  max-width: 1200px;
}
.inner {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 1500px;
}
.inner.shadow {
  text-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:
						8px 8px #ff1f8f,
						20px 20px #000000;
}


.example1 {
 height: 200px;
 overflow: hidden;
 position: relative;
}
.example1 h3 {
 font-size: 200px;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 /* line-height: 50px; */
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
