body{
  background: rgb(255, 227, 250);
font-family: 'NTR', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 25px;
  color: rgb(84, 100, 241);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow:scroll;

}
img{
  width: 300px;
  z-index: 1;
}

.box{
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  border-style: solid;
  border-color: rgb(255, 0, 245);
   width: 1300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.example1 {
  margin: 25px 0 25px 0;
}


#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  z-index: 1000;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  z-index: 1000;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.titlebox{
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  border-style: solid;
  border-color: rgb(255, 0, 245);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1020px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;


}

background: rgba(255, 255, 255, 0.35);
display: flex;
border-style: solid;
border-color: rgb(255, 0, 245);
justify-content: center;
align-items: center;
text-align: center;

  .middle {
  text-align: center;
  justify-content: center;
}

.rainbow {
    text-align: center;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #f293d2, #6666ff , #e0a1fa, #9a5ffa, #f2a5fb, #f293e9, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
}

.home {
  width: 250px;
 display: flex;
 justify-content: center;
text-align: center;
margin-top: 50px;
font-size: 45px;
background-color: rgba(255, 255, 255, 0.35);
border-style: solid;
border-color: rgb(255, 0, 245);
  color:#cc00ff;
  z-index:-1;
}

a:link {
  text-decoration: none;
  color:#cc00ff;
}

a:visited {color:#cc00ff;} /* Visited link    */

a:hover {
  font-size: 70px;
  color: #cc00ff;
  text-decoration: none;
}



@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


  .container .column.clear,
  .container .columns.clear {
    clear: both;
  }
  .container .column.right,
  .container .columns.right {
    float: right;
  }
  .container .column.no-float,
  .container .columns.no-float {
    display: inline-block;
    vertical-align: top;
    float: none;
    zoom: 1;
  }


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  margin-top: -100px;
  margin-left: -50px;
  display: block;
  animation: fadein 1s;
  user-select: none;
}


.container {
  max-width: 1200px;
}
.inner {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 1500px;
}
.inner.shadow {
  text-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
}
