body{
  background: rgb(255, 227, 250);
  overflow: hidden;
font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  color: rgb(241, 84, 125);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

img{
  width: 300px;

}

::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#2716f1, 0.53);
}


  .middle {
  text-align: center;
  justify-content: center;
}
.outline {
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: rgb(34, 34, 34, .5);

}

.scroll{
   width: 200px;
  display: flex;
  justify-content: center;
 text-align: center;
 font-size: 50px;
 background-color: rgba(255, 255, 255, 0.35);
 border-style: solid;
 border-color: rgb(255, 1, 245);
}

.rainbow {
    text-align: center;
    font-size: 100px;
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #f293d2, #6666ff , #e0a1fa, #9a5ffa, #f2a5fb, #f293e9, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
}

.home {
  width: 250px;
 display: flex;
 justify-content: center;
text-align: center;
margin-top: 20px;
font-size: 45px;
background-color: rgba(255, 255, 255, 0.35);
border-style: solid;
border-color: rgb(255, 0, 245);
  color:#cc00ff;
}

a:link {
  text-decoration: none;
  color:#cc00ff;
}

a:visited {color:#cc00ff;} /* Visited link    */

a:hover {
  font-size: 40px;
  color: #cc00ff;
  text-decoration: none;
}



@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.bbox {
 display: flex;
 justify-content: space-between;
 margin-top: 50px;
 margin-bottom: 35px;
text-align: center;
max-width: 100vw;
overflow-x: scroll;
}


.box {
 display: flex;
 margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
text-align: center;
justify-content: center;
}
  .container .column.clear,
  .container .columns.clear {
    clear: both;
  }
  .container .column.right,
  .container .columns.right {
    float: right;
  }
  .container .column.no-float,
  .container .columns.no-float {
    display: inline-block;
    vertical-align: top;
    float: none;
    zoom: 1;
  }


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  margin-top: -100px;
  margin-left: -50px;
  display: block;
  animation: fadein 1s;
  user-select: none;
}


.container {
  max-width: 1200px;
}
.inner {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 1500px;
}
.inner.shadow {
  text-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
}
